-i https://pypi.org/simple
matplotlib
atomicwrites==1.2.1; python_version >= '3.7'
attrs==18.2.0
more-itertools==4.3.0
numpy>=1.15.2
pandas>=0.24.2
py==1.6.0; python_version >= '2.7'
pytest>=3.8.1
scipy>=1.1.0
